.timer.hide

.player-button.hide
  span.button.cansel(aria-label="取消") ×
  span.button.daopai 不听
  span.button.chi 吃
  span.button.peng 碰
  span.button.gang 杠
  span.button.lizhi 立直
  span.button.rong  荣
  span.button.zimo 自摸
  span.button.pingju 流局

.select-mianzi.hide
