@charset "UTF-8"
@import "font"
@import "base"
@import "pai"
@import "shoupai"
@import "he"
@import "navi"
@import "main_menu"
@import "title"
@import "board"
@import "desktop"
@import "shan_viewer"
@import "character_selector"
@import "skill_prompt"
@import "toast"
@media screen and (max-height: 450px)
    @import "tablet"
@import "file"
@import "stat"
@import "editor"
@import "analyzer"
@import "room"
@import "rule"
@import "demo"
@import "netplay_overlay"
